@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
$Rubik__sans-serif: 'Rubik', sans-serif;


$Size__16px: 16px;
$Size__20px: 20px;
$Size__24px: 24px;
$Size__34px: 34px;

$Weight__regular: 400;
$Weight__medium: 500;
$Weight__bold: 700;