@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$roboto: 'Roboto', sans-serif;;

$font__weight__regular: 400;
$font__weight__medium: 500;
$font__weight__bold: 700;

$font-size__18px: 18px;
$font-size__20px: 20px;
$font-size__29px: 29.12px;
$font-size__47px: 47.12px;